In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Hindi_English_Truncated_Corpus.csv')

In [2]:
df.head()

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,"राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर..."
1,ted,"I'd like to tell you about one such child,",मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
2,indic2012,This percentage is even greater than the perce...,यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
3,ted,what we really mean is that they're bad at not...,हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
4,indic2012,.The ending portion of these Vedas is called U...,इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है।

In [4]:
df['source'].value_counts()

tides        50000
ted          39881
indic2012    37726
Name: source, dtype: int64

In [5]:
dt = df[df['source']=='indic2012']

In [6]:
dt.count()

source              37726
english_sentence    37724
hindi_sentence      37726
dtype: int64

In [8]:
dt.head()

,source,english_sentence,hindi_sentence
2,indic2012,This percentage is even greater than the perce...,यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
4,indic2012,.The ending portion of these Vedas is called U...,इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है।
6,indic2012,In this lies the circumstances of people befor...,इसमें तुमसे पूर्व गुज़रे हुए लोगों के हालात हैं।
8,indic2012,“”Global Warming“” refer to warming caused in ...,ग्लोबल वॉर्मिंग से आशय हाल ही के दशकों में हुई...
11,indic2012,Category: Religious Text,श्रेणी:धर्मग्रन्थ

In [9]:
pd.isnull(df).sum()

source              0
english_sentence    2
hindi_sentence      0
dtype: int64

In [10]:
df[df.english_sentence.isnull()].index

Int64Index([37554, 59804], dtype='int64')

In [11]:
dt = df.drop(index= [37554, 59804],axis = 0)

In [17]:
dt.count()

source              127605
english_sentence    127605
hindi_sentence      127605
dtype: int64

In [16]:
dt.drop_duplicates()#dt hi main h

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,"राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर..."
1,ted,"I'd like to tell you about one such child,",मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
2,indic2012,This percentage is even greater than the perce...,यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
3,ted,what we really mean is that they're bad at not...,हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
4,indic2012,.The ending portion of these Vedas is called U...,इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है।
...,...,...,...
127602,indic2012,Examples of art deco construction can be found...,आर्ट डेको शैली के निर्माण मैरीन ड्राइव और ओवल ...
127603,ted,and put it in our cheeks.,और अपने गालों में डाल लेते हैं।
127604,tides,"As for the other derivatives of sulphur , the ...","जहां तक गंधक के अन्य उत्पादों का प्रश्न है , द..."
127605,tides,its complicated functioning is defined thus in...,Zरचना-प्रकिया को उसने एक पहेली में यों बांधा है .
127606,ted,They've just won four government contracts to ...,हाल ही में उन्हें सरकारी ठेका मिला है करीब सौ ...

In [18]:
dt['english_sentence']=dt['english_sentence'].apply(lambda x: x.lower())
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: x.lower())

In [20]:
import re
dt['english_sentence']=dt['english_sentence'].apply(lambda x: re.sub("'", '', x))
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: re.sub("'", '', x))

In [23]:
dt_backup=dt

In [24]:
import string
exclude = set(string.punctuation)
dt['english_sentence']=dt['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [25]:
from string import digits
remove_digits = str.maketrans('', '', digits)
dt['english_sentence']=dt['english_sentence'].apply(lambda x: x.translate(remove_digits))
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: x.translate(remove_digits))

dt['hindi_sentence'] = dt['hindi_sentence'].apply(lambda x: re.sub("[२३०८१५७९४६]", "", x))

dt['english_sentence']=dt['english_sentence'].apply(lambda x: x.strip())
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: x.strip())
dt['english_sentence']=dt['english_sentence'].apply(lambda x: re.sub(" +", " ", x))
dt['hindi_sentence']=dt['hindi_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [26]:
dt['hindi_sentence'] = dt['hindi_sentence'].apply(lambda x : 'S_ '+ x + ' _E')

In [28]:
all_eng_words=set()
for eng in dt['english_sentence']:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

all_hindi_words=set()
for hin in dt['hindi_sentence']:
    for word in hin.split():
        if word not in all_hindi_words:
            all_hindi_words.add(word)

In [29]:
len(all_hindi_words)

81977

In [30]:
len(all_eng_words)

72686

In [31]:
dt['length_eng_sentence']=dt['english_sentence'].apply(lambda x:len(x.split(" ")))
dt['length_hin_sentence']=dt['hindi_sentence'].apply(lambda x:len(x.split(" ")))

In [32]:
dt.head()

,source,english_sentence,hindi_sentence,length_eng_sentence,length_hin_sentence
0,ted,politicians do not have permission to do what ...,S_ राजनीतिज्ञों के पास जो कार्य करना चाहिए वह ...,12,15
1,ted,id like to tell you about one such child,S_ मई आपको ऐसे ही एक बच्चे के बारे में बताना च...,9,13
2,indic2012,this percentage is even greater than the perce...,S_ यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधि...,10,11
3,ted,what we really mean is that theyre bad at not ...,S_ हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे प...,12,13
4,indic2012,the ending portion of these vedas is called up...,S_ इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है। _E,9,10

In [34]:
input_words = sorted(list(all_eng_words))
target_words = sorted(list(all_hindi_words))
num_encoder_tokens = len(all_eng_words)
num_decoder_tokens = len(all_hindi_words)
num_encoder_tokens, num_decoder_tokens
# english is encoder and hindi is decoder

(72686, 81977)

# SPLITTING THE DATA INTO TRAIN TEST

In [35]:
from sklearn.model_selection import train_test_split
X, y = dt['english_sentence'], dt['hindi_sentence']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)
X_train.shape, X_test.shape

((102084,), (25521,))

In [36]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

In [37]:
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

In [38]:
latent_dim=300

In [39]:
encoder_inputs = Input(shape=(None,))
enc_emb =  Embedding(num_encoder_tokens, latent_dim, mask_zero = True)(encoder_inputs)
encoder_lstm = LSTM(latent_dim, return_state=True)
encoder_outputs, state_h, state_c = encoder_lstm(enc_emb)

encoder_states = [state_h, state_c]

2022-11-10 20:16:50.067816: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [40]:
decoder_inputs = Input(shape=(None,))
dec_emb_layer = Embedding(num_decoder_tokens, latent_dim, mask_zero = True)
dec_emb = dec_emb_layer(decoder_inputs)

decoder_lstm = LSTM(latent_dim, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(dec_emb,
                                     initial_state=encoder_states)
decoder_dense = Dense(num_decoder_tokens, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)

model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [41]:
model.compile(optimizer='rmsprop', loss='categorical_crossentropy')

In [42]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, None)]       0           []

 input_2 (InputLayer)           [(None, None)]       0           []

 embedding (Embedding)          (None, None, 300)    21805800    ['input_1[0][0]']

 embedding_1 (Embedding)        (None, None, 300)    24593100    ['input_2[0][0]']

 lstm (LSTM)                    [(None, 300),        721200      ['embedding[0][0]']
                                 (None, 300),
                                 (None, 300)]

 lstm_1 (LSTM)                  [(None, None, 300),  721200      ['embedding_1[0][0]',
                                 (None, 300),                     'lstm[0][1]',
                                 (None, 300)]                     'lstm[0][2]']

 dense (Dense)                  (None, None, 81977)  24675077    ['lstm_1[0][0]']

==================================================================================================
Total params: 72,516,377
Trainable params: 72,516,377
Non-trainable params: 0
__________________________________________________________________________________________________